VITE_FIREBASE_API_KEY=AIzaSyCnZfVW0OuSN8BU1MNZeparC0FHWqnmEg4
VITE_FIREBASE_AUTH_DOMAIN=mathgame-a3d23.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=mathgame-a3d23
VITE_FIREBASE_STORAGE_BUCKET=mathgame-a3d23.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=704930897650
VITE_FIREBASE_APP_ID=1:704930897650:web:12317a1aa61583023fba6b
VITE_FIREBASE_MEASUREMENT_ID=G-P8LMEK5G86
